.txt1 {
  margin-top: 35px;
  margin-left: 35px;
}
.txt2_1 {
  margin-left: 35px;
}
.txt2_2 {
  margin-top: 15px;
  margin-left: 35px;
}
.txt3 {
  margin-left: 125px;
  margin-top: -500px;
}
.rgrecord {
  margin-left: 125px;
  margin-top: 50px;
}
.btnreg {
  margin-left: 125px;
  margin-top: 50px;
}
